@import '../helpers/variables';
@import '../helpers/mixins';

a {
  text-decoration: none;
  color: inherit;
  &:hover {
    @include hover;
  }
  &:active {
    @include active;
  }
}

.button {
  display: inline-block;
  border: 2px solid $blue;
  color: $blue;
  padding: 8px 16px;
  cursor: pointer;
  text-transform: uppercase;
  transition: all 0.3s;
  &:hover {
    background: $blue;
    color: $yellow;
    text-decoration: none;
  }
}

@media screen and (max-width: 1440px) { // max-width: 1440px
}

@media screen and (max-width: 1024px) { // max-width: 1024px
}

@media screen and (max-width: 768px) { // max-width: 768px
}

@media screen and (max-width: 590px) { // max-width: 590px
}
