@import '../helpers/variables';
@import '../helpers/mixins';

footer {
  min-height: 65px;
  padding: 0;
  .copyright{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 24px;
    font-size: 12px;
    color: #333;
    border-top: 3px solid $yellow;
    a {
      text-decoration: none;
    }
    .copy_left {
      text-align: left;
    }
    .copy_right {
      text-align: right;
    }
  }
}

.cookie {
  padding: 20px;
  background: red;
  //position: fixed;
  bottom: 0;
  width: 100%;
  .cookie_title {
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
  }
  .consent {
    flex-direction: column;
    .con_text {
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 16px;
    }
    .con_buttons {
      justify-content: space-between;
      width: 100%;
      margin-top: 20px;
    }
  }
}

@media screen and (max-width: 1440px) { // max-width: 1440px
}

@media screen and (max-width: 1024px) { // max-width: 1024px
}

@media screen and (max-width: 768px) { // max-width: 768px
}

@media screen and (max-width: 590px) { // max-width: 590px
  footer {
    color: $gold;
    .container {
      flex-direction: column-reverse;
      align-items: center;

      .copyright {
        text-align: center;
      }
    }
  }
}
