@import '../helpers/variables';
@import '../helpers/mixins';

footer {
  min-height: 65px;
  padding: 0;
  .footer_social {
    padding: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: $blue;
    color: $yellow;
  }

  .copyright{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 24px;
    font-size: 12px;
    color: #333;
    border-top: 3px solid $yellow;
    a {
      text-decoration: none;
    }
    .copy_left {
      text-align: left;
    }
    .copy_right {
      text-align: right;
    }
  }
}

@media screen and (max-width: 1440px) { // max-width: 1440px
}

@media screen and (max-width: 1024px) { // max-width: 1024px
}

@media screen and (max-width: 768px) { // max-width: 768px
}

@media screen and (max-width: 590px) { // max-width: 590px
}
