@import '../helpers/variables';
@import '../helpers/mixins';

.map {
  text-align: center;
  &.head {
    background: url(image-url('/bg/default.jpg')) center no-repeat;
    background-size: cover;
    min-height: auto;
  }
  .container {
    .leaflet-popup-content-wrapper {
      border-radius: 0;
      .leaflet-popup-content {
        margin: 0;
        padding: 8px 16px;
        .umsMarkerTitle {
          margin-top: 0;
        }
        p {
          margin: 0 0 8px;
          &:last-of-type {
            margin-bottom: 0;
          }
        }
        .td-name {
          padding-right: 8px;
        }
      }
    }
    //test
  }
}

@media screen and (max-width: 1440px) { // max-width: 1440px
}

@media screen and (max-width: 1024px) { // max-width: 1024px
}

@media screen and (max-width: 768px) { // max-width: 768px
}

@media screen and (max-width: 590px) { // max-width: 590px
}