@font-face {
  font-family: eUkraine;
  src: url(../fonts/e-Ukraine/e-Ukraine-Regular.otf) format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: eUkraine;
  src: url(../fonts/e-Ukraine/e-Ukraine-Bold.otf) format('opentype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: eUkraineHead;
  src: url(../fonts/e-Ukraine-Head/e-UkraineHead-Regular.otf) format('opentype');
  font-weight: normal;
  font-style: normal;
}