@import "helpers/variables";
@import "helpers/mixins";

* {
  box-sizing: border-box;
}

body {
  font-family: Roboto, Helvetica, Arial, sans-serif;
  cursor: default;
  position: relative;
  background: $white;
  color: #333;
  &.lock {
    overflow: hidden;
  }
}

main {
  position: relative;
  min-height: calc(100vh - 90px - 137.5px);
}

h1,
h2,
h3,
h4 {
  display: block;
  line-height: 1;
}
h1 {
  font-family: Roboto, Helvetica, Arial, sans-serif;
  font-weight: bold;
  font-size: 40px;
}
h2 {
  font-size: 32px;
}
h3 {
  font-size: 24px;
}
h4 {
  font-size: 16px;
}

section {
  &.head {
    background: url(image-url('/bg/default.jpg')) center no-repeat;
    background-size: cover;
    position: relative;
    min-height: 30vh;
    display: flex;
    align-items: center;
    color: $yellow;
    &:before {
      content: "";
      display: block;
      width: 100%;
      height: 100%;
      background: rgba(0,0,0,.5);
      position: absolute;
      top: 0;
    }
  }

  &.breadcrumbs {
    background: $blue;
    color: $yellow;
    .container {
      padding: 16px 0;
      a,
      .breadcrumb_last {
        margin: 0 16px;
      }
      > span > span > a {
        margin-left: 0;
      }
    }
  }
}

.container {
  position: relative;
  width: 1100px;
  max-width: 1100px;
  margin: 0 auto;
  padding: 32px 0;

  p {
    margin-bottom: 16px;
    &:last-of-type {
      margin-bottom: 0;
    }
  }

  .post_box {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    .post {
      display: flex;
      width: 100%;
      margin-bottom: 24px;
      &:last-of-type {
        margin-bottom: 0;
      }
      .preview {
        width: 40%;
        min-width: 40%;
        height: 30vh;
        min-height: 30vh;
        overflow: hidden;
        .preview_img {
          display: block;
          width: 100%;
          height: 100%;
          transition: all 0.3s;
          &:hover {
            transform: scale(1.1);
          }
        }
      }
      .preview_description {
        padding-left: 24px;
        .post_date {
          color: $yellow;
        }
        .post_title {
          display: block;
          font-size: 24px;
          font-weight: bold;
          color: $blue;
          margin: 8px 0;
          text-decoration: none;
          cursor: pointer;
        }
        .post_read_more {
          margin-top: 8px;
        }
      }
    }
  }

  .content {
    position: relative;
    .content_meta {
      font-size: 12px;
      opacity: 0.8;
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 32px;
      .date {
        color: $yellow;
      }
      .author {
        color: $blue;
      }
      .source {
        color: $yellow;
        text-align: right;
        width: 100%;
      }
    }
    .article {
      position: relative;
      figcaption {
        font-size: 12px;
        opacity: 0.5;
        text-align: center;
      }
    }
  }

  .pagination {
    text-align: center;
    padding: 16px 0;

    .screen-reader-text {
      //display: none;
    }
    .current {
      @include hover;
    }
  }
}

.latest_events {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px 24px;
  background: $blue;
  color: $yellow;
  .next_event {
    a {
      color: white;
    }
  }
  .social_top {
    display: flex;
    align-items: center;
    justify-content: center;
    .social_join {
      font-size: 16px;
    }
    .social {
      width: 32px;
      height: 32px;
    }
  }
}

.featured {
  display: flex;
  align-items: flex-start;
  .main_slider {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 70%;
    padding: 16px 24px;
  }
  .latest_news {
    width: 30%;
    padding: 16px 24px;
    h2 {
      color: $blue;
    }
    .latest_list {
      margin: 24px 0;
      .latest_article {
        display: flex;
        align-items: center;
        width: 100%;
        margin-bottom: 16px;
        &:last-of-type {
          margin-bottom: 0;
        }
        .latest_preview {
          width: 30%;
          min-width: 115px;
          height: 100px;
          overflow: hidden;
          .preview_img {
            display: block;
            width: 100%;
            height: 100%;
            transition: all 0.3s;
            &:hover {
              transform: scale(1.1);
            }
          }
        }
        .latest_description {
          width: 70%;
          padding: 0 0 0 24px;
          .post_date {
            font-size: 12px;
          }
          .post_title {
            color: $blue;
            font-size: 24px;
            font-weight: bold;
          }
        }
      }
    }
  }
}

.map_section {
  background: $blue;
  color: $yellow;
  display: flex;
  align-items: center;
  justify-content: space-around;
  .left {
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 32px;
    .archery_map {
      text-decoration: none;
      margin: auto;
      img {
        width: auto;
        max-height: 25vh;
        transition: all 0.3s;
        &:hover {
          transform: scale(1.1);
        }
      }
    }
  }
  .right {
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-size: 24px;
    padding: 32px;
    text-align: center;
    h2 {
      margin-bottom: 32px;
    }
    a {
      display: block;
      text-decoration: none;
    }
  }
}

.calendar_section {
  color: $blue;
  background: $yellow;
  display: flex;
  align-items: center;
  justify-content: space-around;
  .left {
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-size: 24px;
    padding: 32px;
    text-align: center;
    h2 {
      margin-bottom: 32px;
    }
    a {
      display: block;
      text-decoration: none;
    }
  }
  .right {
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 32px;
    .calendar {
      text-decoration: none;
      margin: auto;
      img {
        width: auto;
        max-height: 25vh;
        transition: all 0.3s;
        &:hover {
          transform: scale(1.1);
        }
      }
    }
  }
}

.hidden {
  display: none !important;
}

//todo: remove it after normal amount of content, on front-page
.hero {
  position: relative;
  background: url(image-url('/bg/default.jpg')) center no-repeat;
  background-size: cover;
  min-height: 40vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  &:before {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,.5);
    position: absolute;
    top: 0;
  }
  .container {
    color: $yellow;
  }
}

#wpadminbar {
  a {
    &:hover {
      color: $yellow;
    }
  }
}

.debugger {
  background: red;
  opacity: 0.5;
  position: fixed;
  bottom: 0;
  right: 0;
}

@media screen and (max-width: 1440px) { // max-width: 1440px
  section.breadcrumbs .container,
  .container {
    max-width: 100%;
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media screen and (max-width: 1024px) { // max-width: 1024px
  .featured {
    .main_slider {
      display: none;
    }
    .latest_news {
      width: 100%;
    }
  }
}

@media screen and (max-width: 768px) { // max-width: 768px
}

@media screen and (max-width: 590px) { // max-width: 590px
  .hero {
    .container {
      .title {
        font-size: 40px;
        span {
          display: block;
        }
      }
      .subtitle {
        font-size: 32px;
      }
    }
  }
  section.breadcrumbs {
    .container {
      .breadcrumb_last,
      a {
        margin: 0;
      }
    }
  }
  .container {
    .post_box {
      .post {
        flex-direction: column;
        position: relative;
        padding-top: 24px;
        .preview {
          width: 100%;
        }
        .preview_description {
          width: 100%;
          padding: 0;
          .post_date {
            position: absolute;
            top: 0;
          }
          .post_exc {
            display: none;
          }
        }
      }
    }
  }

  .latest_events {
    flex-direction: column;
    .next_event {
      text-align: center;
    }
    .social_top {
      flex-wrap: wrap;
      margin-top: 24px;
      padding-top: 16px;
      border-top: 1px solid $yellow;
    }
  }



  .map_section {
    flex-direction: column-reverse;
    .left,
    .right {
      width: 100%;
    }
  }
  .calendar_section {
    flex-direction: column;
    .left,
    .right {
      width: 100%;
      padding: 16px 24px;
    }
  }
}
